#root > section.welcome {
    display: flex;
    flex-grow: 1;
    background-color: lighten($yellow, 10%);
    color: $black;
    box-sizing: border-box;
    margin: 5em;

    @include flex(column, center, center);

    h3{
        font-size: 2em;
        margin-bottom: 1em;
    }

    p {
        font-size: 1em;
        line-height: 2em;
    }
}