
$blue: #1f4066;
$blue-invert:#fcfcfc;
$orange: #F17633;
$black: #2b2523;
$white: #fcfcfc;

$primary: $blue;
$primary-invert: #fcfcfc;
$warning: $orange;
$body: #333;
$title-color: $blue;

$content-color: $primary-invert;