@import "./variables";

//     @include flex(column, flex-start, flex-start);


body, html{
    height: 100%;
}

#root {
    min-height: 100vh;
    @include flex(column, center, flex-start);
}

#root > section {
    flex: 1;
    // margin: 5%;
    width: 90%;
    background-color: $white;
    box-sizing: broder-box;
    padding: 70px;
}

body > * {
    font-family: "Heebo", sans-serif;
}

textarea{
    vertical-align: bottom;
}

h2{
    font-size: 2em;
    text-decoration: underline;
}

button{
    padding: .2em;
    margin: 0em;
    font-size: .8em;
}

section.login{
    padding: 1em 1em 1em 0em;
    h3{
        font-size: 1.5em;
        margin-bottom: 1em;
    }
}

.box-shadow
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.bow-shadow:before, .box-shadow:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.box-shadow:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

section.deck-actions{
    @include flex(row, flex-start, flex-start);
}