
li.deck-card {

    width: 100%;
    @include box-shadow;
    background-color: lighten($brown, 50%);
    box-sizing: border-box;

    > div {
    box-sizing: border-box;
    margin-bottom: 1em;
    padding: 1em 1em 1em .5em;
    position: relative;
    width: 100%;

        p{
        padding: 1em 4em 1em 1em;

        }

        h4{
            font-size: 1.5em;
            margin-bottom: .2em;
        }

        div {
            box-sizing: border-box;
            background-color: lighten($black, 70%);
            border-radius: 100%;
            width: 40px;
            height: 40px;
            @include flex(row, center,center);

        }

        div#edit, div#trash {
            border: 2px solid $white;
            position: absolute;
            right: 10px;
            @include box-shadow;
        }

        div#edit:hover, div#trash:hover {
            background-color: $white;
            cursor: pointer;
        }

        div#edit{
            top: 5px;
        };

        div#trash {
            top: 50px;
        };

    }

}