

header {
    @include flex(column, center, center);
    h1{
        color: $blue;
        font-size: 3em;
    }
    
    h2{
        color: $blue;
        font-size: 2em;
        padding: .5em;
    }
}


nav{
    width: 60%;

    ul {
        @include flex(row, start, center);
    
        li{ 
            margin: .25em;
            cursor: pointer;
            border: 2px solid $blue;
            padding: 1em;
            width: fit-content;
        }
        li:hover{
            background-color: darken($blue-invert, 5%);
        }
    }
}