section#user-actions {
    margin-top: 5em;
    ul{
        @include flex(row, center, center);
        width: 100%;
        // display: flex;
        flex-wrap: wrap;

        li{
            background-color: lighten($yellow, 5%);
            box-sizing: border-box;
            border: 5px solid $yellow;
            background-color: $white;
            width: 10em;
            font-size: 1em;
            text-align: center;
            cursor: pointer;
            margin: 15px 20px 0 0;
            padding: 1em;
            @include box-shadow;

        &:hover {
            background-color: $yellow;
        }
            h4 {
                margin-bottom: 1em;
            }
        }
    }
}
